terraform {
    backend "local" {
        path = "./terraform.tfstate"
    }
}

module "novus-runtimes" {
    source = "{{ (ds "module") }}"
    input = yamldecode(file("{{ (ds "runtimes") }}/${terraform.workspace}.yaml"))
}
